{% extends "_layout.html" %}

{% block title %}
{% endblock %}


{% block content %}

<h1>profile page</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}

{% if current_user.id == user.id%}

<a href="{{url_for('users.edit', id = current_user.id)}}" >edit profile</a>

<img src='{{user.profile_image_path}}' width='150' />

{%endif%}

<div class='container'>
    {% for image in user.images %}
        <img src="{{image.image_url}}" width='300' />
    {% endfor %}
</div>

{% endblock %}