appdirs==1.4.4
autopep8==1.4.3
certifi==2018.11.29
Click==7.0
colorama==0.4.1
cssmin==0.2.0
distlib==0.3.1
Flask==1.0.2
Flask-Assets==0.12
Flask-Cors==3.0.7
Flask-WTF==0.15.1
itsdangerous==1.1.0
Jinja2==2.10
jsmin==2.2.2
MarkupSafe==1.1.0
peewee==3.8.2
peewee-db-evolve==3.7.0
pipenv==2020.11.15
psycopg2-binary==2.9.1
pycodestyle==2.5.0
python-dotenv==0.10.1
six==1.12.0
virtualenv==20.2.2
virtualenv-clone==0.5.4
webassets==0.12.1
Werkzeug==0.14.1
wincertstore==0.2
WTForms==2.3.3
